.input-label {
    color: #1e2a32;
    font-size: 1.2rem;
    font-weight: 400;
}

::ng-deep .mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline{
    color: red !important;
}
::ng-deep .mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline-thick{
    opacity: 1 !important;
}

::ng-deep .mat-form-field .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red !important;
}
