/* default and hover color */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 1 !important;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: green;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: green;
}
