<div class="output-info-content" *ngIf="total !== null">
    <div class="monthly-amount-value-content">
        <span id="value-title-content">
            <p>Monthly amount</p>
        </span>
        <span id="value-content">
            {{total | currency}}
        </span>
    </div>
    <div class="detail-info-content">
        <p>
            You’re planning <strong>{{goal.value}}</strong> monthly deposits to reach your <strong>{{amountAsNumber|
                currency}}</strong> goal by <strong>{{goal.month}}</strong> &nbsp;<strong>{{goal.year}}</strong>.
        </p>
    </div>
</div>