.container {
    display: grid;
    grid-template-rows: 10vh 10vh 90vh;
    grid-gap: 0;

    header {
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .title-page-text {
        background-color: #e5e5e5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #1b31a8;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color:#E5E5E5;
    }
}

@media (min-width: 769px) and (max-width: 2560px) {
    main {
        justify-content: center;
    }
}

// Angular Material Custom Style

::ng-deep .mat-form-field {
    .mat-input-element {
        color: #4d6475 !important;
        font-size: 2rem;
        font-weight: 500;
        margin-top: -12% !important;
    }
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #E9EEF2!important;
}