.input-label {
    color: #1e2a32;
    font-size: 1.2rem;
    font-weight: 400;
}


::ng-deep .mat-form-field {
    .mat-input-element {
        color: #4d6475 !important;
        font-size: 2rem;
        font-weight: 500;
    }
}